<h1>Bitte geben Sie Titel und Interpret ein</h1>
<div>
    <mat-form-field class="example-full-width">
        <mat-label>Interpret</mat-label>
        <input matInput placeholder="Bitte geben Sie den Interpreten ein" [(ngModel)]="interpret">
    </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width">
        <mat-label>Titel</mat-label>
        <input matInput placeholder="Bitte geben Sie den Titel ein" [(ngModel)]="titel">
    </mat-form-field>
</div>

<button mat-button (click)="insertMusic()" class="button">Hinzufügen</button>